@media screen and (min-width: 760px) {
  body {
    div.container {
      header.jumbotron {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.3em 0;
        align-items: center;

        aside.write-up {
          h1 {
            font-size: 40px;
          }
        }
        s aside.img-container {
          position: relative;
          img {
            &.offer-image {
              display: none;
            }
          }
        }
      }

      main.main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 45px;

        section.item {
          svg {
            position: relative;
            top: -40px;
          }
          &.item-1 {
            padding-top: 3em;
          }
        }
      }
    }
  }
}
