@media screen and (min-width: 760px) {
  body {
    div.container {
      nav.navigation {
        b.logo {
          font-size: 36px;
        }
      }
      header.jumbotron {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.3em 0;
        align-items: center;

        aside.write-up {
          padding-top: 5em;
          h1 {
            font-size: 40px;
          }

          p {
            font-size: 18px;
          }
        }
        aside.img-container {
          position: relative;
          img {
            &.mobile,
            &.desktop-image {
              display: none;
            }

            &.tablet-image {
              display: block;
              position: absolute;
              top: -300px;
              right: -250px;
            }
          }
        }
      }

      main.main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 45px;
        padding: 12em 0;
        section.item {
          svg {
            position: relative;
            top: -40px;
          }
          &.item-1 {
            padding-top: 3em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    overflow-x: hidden;
    div.container {
      nav.navigation {
        b.logo {
          font-size: 36px;
        }
      }
      width: 1110px;
      margin: 0 auto;
      header.jumbotron {
        display: grid;
        grid-template-columns: 1fr 1fr;
        aside.write-up {
          padding-top: 3em;
          h1 {
            font-size: 56px;
            line-height: 70px;
          }
        }

        aside.img-container {
          //   background-size: contain;
          position: relative;

          img {
            &.mobile,
            &.tablet-image {
              display: none;
            }

            &.desktop-image {
              display: block;
              position: absolute;
              top: -520px;
              right: -530px;
            }
          }
        }
      }

      main.main {
        padding: 15em 0;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
