* {
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;

  a {
    text-decoration: none;
  }

  svg {
    width: 50px;
    height: auto;
  }
}
